.card-curso {
  border: 1px solid #ddd;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #fdfdfd;
}

.card-curso:hover {
  transform: translateY(-6px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  background-color: #fff7f0;
}

.card-curso .card-title {
  color: #0d3b66;
}

.card-curso .card-subtitle,
.card-curso .card-text {
  color: #555;
}

.btn-calificaciones{
  background-color: #063a6b !important;
  border: none !important;
  padding-top: 9px !important;
}

.btn-calificaciones:hover{
  background-color: #1e5586 !important;
}

.btn-editar-prof{
  background-color: #ca4a0f !important;
  border: none !important;
}

.btn-editar-prof:hover{
  background-color: #eb6526 !important;
}

.btn-eliminar-prof{
  background-color: #6b1506 !important;
  border: none !important;
}

.btn-eliminar-prof:hover{
  background-color: #8f2816 !important;
}